@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #ccb63cda, #bbcbeed8);
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 7px;
  }

  #data{
    height: 50px;
    width: 550px;
    background: white;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 30px;
    background: rgb(236, 200, 39);
    box-shadow: 1px 0px 4px 4px rgba(255, 140, 0, 0.7);

    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: rgb(236, 200, 39);
    border-radius: 10px;
    box-shadow: 1px 3px 3px 4px rgba(255, 140, 0, 0.7);
    margin-bottom: 20%;
}

#relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, 0.9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    letter-spacing: 3pxs;
}

#relogio span {
    font-weight: bolder;
    font-size: 60px;
}

#relogio span.tempo {
    font-size: 14px;
}